<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <connectionStrings>
    <add name="LEscogidoAseguradora2"
      connectionString="Data Source=LAPTOP-RH1B3NSI;Initial Catalog=LEscogidoAseguradora;Persist Security Info=True;User ID=sa;Password=pass@word1"
      providerName="System.Data.SqlClient"/>

    <add name="LEscogidoAseguradoraEntities" connectionString="metadata=res://*/LEscogidoAseguradora.csdl|res://*/LEscogidoAseguradora.ssdl|res://*/LEscogidoAseguradora.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-RH1B3NSI;initial catalog=LEscogidoAseguradora;persist security info=True;user id=sa;password=pass@word1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
        <binding name="BasicHttpBinding_IServicioEmpleado" sendTimeout="00:02:00"
          maxBufferPoolSize="5242880" />
        <binding name="BasicHttpBinding_IServicioAseguradora" sendTimeout="00:02:00"
          maxBufferPoolSize="5242880" />
        <binding name="BasicHttpBinding_IUsuario" sendTimeout="00:02:00"
          maxBufferPoolSize="5242880" />
        <binding name="BasicHttpBinding_IService2" />
        <binding name="BasicHttpBinding_IService21" />
        <binding name="BasicHttpBinding_IService22" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:17865/Service1.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1"
        name="BasicHttpBinding_IService1" />
      <endpoint address="http://localhost:17865/ServicioEmpleado.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioEmpleado"
        contract="ServiceReference2.IServicioEmpleado" name="BasicHttpBinding_IServicioEmpleado" />
      <endpoint address="http://localhost:17865/ServicioAseguradora.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioAseguradora"
        contract="ServiceReference3.IServicioAseguradora" name="BasicHttpBinding_IServicioAseguradora" />
      <endpoint address="http://localhost:17865/ServicioUsuario.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsuario"
        contract="ServiceReference4.IUsuario" name="BasicHttpBinding_IUsuario" />
      <endpoint address="http://localhost:28927/Service2.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService2" contract="ServiceReference5.IService2"
        name="BasicHttpBinding_IService2" />
      <endpoint address="http://localhost:28927/Service2.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService21" contract="ServiceReferenceSuma.IService2"
        name="BasicHttpBinding_IService21" />
      <endpoint address="http://localhost:28927/Service2.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService22" contract="ServiceReference6.IService2"
        name="BasicHttpBinding_IService22" />
    </client>
  </system.serviceModel>
</configuration>
